@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tranding Company</h1>
    <h2>
    <p class="lead">You can work with next 3 table:</p>
    <div class="row">
        <ul>
            <li>User</li>
            <li>Person</li>
            <li>Role</li>
        </ul>
    </div>
    </h2>
    <p class="lead">You can do operations:</p>
    <ul>
        <li>Create</li>
        <li>Read</li>
        <li>Update</li>
        <li>Delete</li>
    </ul>
</div>

