<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Administrator" connectionString="Data Source=DESKTOP-QJRO1PG;Initial Catalog=Administrator;Integrated Security=True"/>
    <add name="AdministratorEntities"
      connectionString="metadata=res://*/Administrator.csdl|res://*/Administrator.ssdl|res://*/Administrator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QJRO1PG;initial catalog=Administrator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>